<div class="col-sm-12">
<h1>2-D Array Generator</h1>
</div>
<form class="col-sm-4">
    <div class="form-group">
        <label>Select values to generate the array</label>
    </div>
    <div class="form-group">
        <select onchange={{action "selectAlphaOne" value="target.value"}}>
            {{#each alphas as |bet|}}
                <option value={{bet}} selected={{eq betOne bet}}>{{bet}}</option>
            {{/each}}
        </select>
        <select onchange={{action "selectNumOne" value="target.value"}}>
            {{#each nums as |ber|}}
                <option value={{ber}} selected={{eq berOne ber}}>{{ber}}</option>
            {{/each}}
        </select>
    </div>
    <div class="form-group">
        <select onchange={{action "selectAlphaTwo" value="target.value"}}>
            {{#each alphas as |bet|}}
                <option value={{bet}} selected={{eq betTwo bet}}>{{bet}}</option>
            {{/each}}
        </select>
        <select onchange={{action "selectNumTwo" value="target.value"}}>
            {{#each nums as |ber|}}
                <option value={{ber}} selected={{eq berTwo ber}}>{{ber}}</option>
            {{/each}}
        </select>
    </div>
    <div class="form-group">
        <select onchange={{action "selectAlphaThree" value="target.value"}}>
            {{#each alphas as |bet|}}
                <option value={{bet}} selected={{eq betThree bet}}>{{bet}}</option>
            {{/each}}
        </select>
        <select onchange={{action "selectNumThree" value="target.value"}}>
            {{#each nums as |ber|}}
                <option value={{ber}} selected={{eq berThree ber}}>{{ber}}</option>
            {{/each}}
        </select>
    </div>
    <div class="form-group">
        <select onchange={{action "selectAlphaFour" value="target.value"}}>
            {{#each alphas as |bet|}}
                <option value={{bet}} selected={{eq betFour bet}}>{{bet}}</option>
            {{/each}}
        </select>
        <select onchange={{action "selectNumFour" value="target.value"}}>
            {{#each nums as |ber|}}
                <option value={{ber}} selected={{eq berFour ber}}>{{ber}}</option>
            {{/each}}
        </select>
    </div>
</form>
<form class="col-sm-4">
    <div class="form-group">
        <label>Preview</label>
    </div>
    <div class="form-group">
        {{textarea
            rows=4
            col=4
            readonly=true
            value=areaInput}}
    </div>
</form>
<div class="col-sm-4">
    <label>Results:</label>
    <p>{{twoDArrayResults}}</p>
    <button {{action 'generateArray' areaInput}} class="btn btn-primary">Generate 2-D Array</button>
</div>
